{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "spread" : true,
            "blockBindings" : true,
            "destructuring" : true,
            "templateStrings" : true,
            "jsx" : true,
            "generators" : true,
            "defaultParams" : true,
            "modules" : true,
            "arrowFunctions" : true,
            "forOf" : true,
            "classes" : true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        
    }
}
